<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/amainpage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <title>Horsify Kontaktu saraksts</title>
</head>

<style>
  body {
    background-image: url("/static/1.jpg");
    background-size: cover;
  }
</style>

<body>
  {% extends 'layout.html' %}

  {% block content %}

  <div class="container text-center">
    <div class="row">
      <div class="col possition_control">
        <div class="card">
          <div class="card-header">
            <h4>Labot Kontaktu Datus</h4>
          </div>
          <div class="card-body">
            <form action="{{ url_for('kontakti_labot') }}" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="text" name="ID" placeholder="Ievadiet kontakta ID" id="ID" class="form-control" aria-describedby="emailHelp" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Jaunais virsraksts</label>
                <input type="text" name="jaunais_virsraksts" placeholder="Ievadiet kontakta jauno virsrakstu" id="jaunais_virsraksts" class="form-control" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Teksts</label>
                <input type="text" name="teksts" placeholder="Ievadiet kontakta jauno tekstu" id="teksts" class="form-control" aria-describedby="emailHelp">
              </div>
              <button type="submit" value="edit" class="btn btn-primary">Labot Kontaktu</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col possition_control">
        <div class="card">
          <div class="card-header">
            <h4>Pievienot Jaunu Kontaktu Datubāzē</h4>
          </div>
          <div class="card-body">
            <form action="{{ url_for('kontakti_pievienot') }}" method="post">
              <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Virsraksts</label>
            <input type="text" name="virsraksts" placeholder="Ievadiet jaunā kontakta virsrakstu" id="virsraksts" class="form-control" aria-describedby="emailHelp" required >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Teksts</label>
            <input type="text" name="teksts" placeholder="Ievadiet jaunā kontakta tekstu" id="teksts" class="form-control" aria-describedby="emailHelp" required >
          </div>
              <button type="submit" value="add" class="btn btn-success">Pievienot Kontaktu</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col possition_control">
        <div class="card">
          <div class="card-header">
            <h4>Kontakta dzēšana</h4>
          </div>
          <div class="card-body">
            <form action="{{ url_for('kontakti_dzest') }}" method="post">
              <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID</label>
            <input type="text" name="ID" placeholder="ievadiet kontakta ID, kuru vēlaties dzēst" id="ID" class="form-control" aria-describedby="emailHelp" required >
          </div>
              <button type="submit" value="delete" class="btn btn-danger">Izdzēst Kontaktu</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col possition_control">
        <div class="card">
          <div class="card-header">
            <h4>Filtrēt pēc Virsraksta</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="filter-virsraksts" class="form-label">Virsraksts</label>
                <input type="text" id="filter-virsraksts" class="form-control" aria-describedby="emailHelp">
              </div>

              <button type="button" class="btn btn-secondary bg-primary" onclick="filterTable()">Filtrēt</button>
              <button type="button" class="btn btn-secondary" onclick="resetTable()">Atiestatīt</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="container-sm">
      <table class="table table-bordered table-striped table-horse-theme" id="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Lietotājvārds</th>
            <th scope="col">Virsraksts</th>
            <th scope="col">Teksts</th>
          </tr>
        </thead>
        <tbody>
          {% for ieraksts in datubaze %}
          <tr>
            <td>{{ieraksts.ID}}</td>
            <td>{{ieraksts.lietotajvards}}</td>
            <td>{{ieraksts.virsraksts}}</td>
            <td>{{ieraksts.teksts}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="text-center mt-3">
        <a class="btn btn-primary" href="{{ url_for('PDF_kontakti') }}" target="_blank">Saglabāt kā PDF dokumentu</a>
      </div>      
    </div>
  </div>
</body>

<script>
    function filterTable() {
      var input = document.getElementById("filter-virsraksts").value.toLowerCase();
      var table = document.getElementById("table");
      var rows = table.getElementsByTagName("tr");

      for (var i = 0; i < rows.length; i++) {
        var cell = rows[i].getElementsByTagName("td")[2];

        if (cell) {
          var text = cell.textContent.toLowerCase();

          if (text.includes(input)) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      }
    }

    function resetTable() {
      var table = document.getElementById("table");
      var rows = table.getElementsByTagName("tr");

      for (var i = 0; i < rows.length; i++) {
        rows[i].style.display = "";
      }
    }
</script>

</html>
  {% endblock %}
