<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      {% if is_admin %}
      <a class="navbar-brand" href="{{ url_for('amainpage') }}" style="color: white">Horsify</a>
      {% else %}
      <a class="navbar-brand" href="{{ url_for('home') }}" style="color: white">Horsify</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sacensibas') }}">Latvijas un ārzemju sacensību saraksti</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Jātnieku un zirgu ērtības
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('skolas') }}">Skolas</a></li>
              <li><a class="dropdown-item" href="{{ url_for('veikali') }}">Jāšanas ekipējumu veikali</a></li>
              <li><a class="dropdown-item" href="{{ url_for('kaleji') }}">Pakavu kalēji</a></li>
              <li><a class="dropdown-item" href="{{ url_for('arsti') }}">Zirgu veterinārārsti</a></li>
            </ul>
          </li>
          {% if loggedin %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('personalizets_grafiks') }}">Personalizēts Grafiks</a>
          </li>
          {% endif %}
        </ul>
        {% if loggedin %}
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Atslēgties no sistēmas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('profile') }}">Profils un Zirgi</a>
            </li>
          </ul>
        </form>
        {% else %}
        <form class="d-flex" role="search">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Autorizācija</a>
            </li>
          </ul>
        </form>
        {% endif %}
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}